<div class="calendar">
  <div class="week-header-content">
    <button class="btn-secondary" (click)="navigateToDay()">Today</button>
    <div class="weekNumber"><span>{{weekString}}</span>&nbsp;({{'Week ' + weekNumber}})</div>
  </div>
  <div class="week-calendar-view">
    <div class="time-view">
      <div class="time-placeholder"></div>
    </div>
    <div class="week-event-view">
      <div class="weekdays flex-nowrap">  
        @for (day of daylist.values(); track day; let idx = $index) {
          <div class="day-container day-label">
            <div class="day-names"
                [ngClass]="{'border-left': idx === 0}">
              <div>{{day.date}}</div>
              <div>{{day.title}}</div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="week-calendar-view scroll-content">
    <div class="time-view">
      @for (item of timeList; track item) {
        <div class="time-container" 
            [ngClass]="{'dashed-line': item.minute !==0, 'solid-line': item.minute === 0, 'highlight': item.highlight}">{{item.time}}</div>
      }
    </div>
    <div class="week-event-view">
      <div class="weekdays flex-nowrap">  
        @for (day of daylist.values(); track day; let idx = $index) {
          <div class="day-container">
            @for (item of timeList; track item) {
              <div class="time-container"
                  [ngClass]="{'dashed-line': item.minute !==0, 'solid-line': item.minute === 0, 'highlight': item.highlight}"></div>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>