.calendar {
  .week-header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .btn-secondary {
      border: 1px solid;
      background-color: #fff;
      padding: 5px 10px;
    }
    .weekNumber {
      padding: 20px 0 20px;
      font-size: larger;
      span {
        font-size: x-large;
      }
    }
  }
  .weekdays {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    .day-names {
      flex: 1 1 calc(80% / 7);
      border: 1px solid;
      border-left: 0px;
      padding: 5px 1%;
      background-color: #4f5150;
      color: white;
    }
  }
  .disable {
    background-color: #d9d9d9 !important;
    color: darkgrey;
  }
  .today {
    background-color: #1abc9c !important;
  }
  .day {
    border: 1px solid #fff;
    border-top: 0px;
    border-left: 0px;
    padding: 3% 1%;
    flex: 1 1 calc(80% / 7);
    background-color: #ebebeb;
  }
  .week-calendar-view {
    display: flex;

    .day-names {
      padding: 5px;
    }
    .time-view {
      flex: 1 1 11%;
      text-align: center;
      margin: 1px 0 0 10px;
      border-right: 1px solid #ededed;
      .time-placeholder {
        height: 46px;
        background-color: #4f5150;
        border-bottom: 1px solid;
        color: #fff;
        border-right: 1px solid;
      }
      .time-container {
        padding: 5px 7px 7px;
        color: #c3c3c3;
      }
    }
    .week-event-view {
      flex: 1 2 100%;

      .day-label {
        width: calc(calc(100% - 20px) / 7) !important;
      }
      .day-container {
        width: calc(calc(100% - 6px) / 7);
        .time-container {
          padding: 15px 0;
        }
      }
    }
  }
}

.dashed-line {
  border-bottom: 1px dashed #e7e7e7;
}
.solid-line {
  border-bottom: 1px solid #e7e7e7;
}
.highlight {
  color: #000 !important;
  background-color: #d0eaff;
}
.scroll-content {
  overflow-y: scroll;
  max-height: 70vh;
}
